.carousel {
  background-color: coral;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left__arrow {
  padding: 5px;
  font-size: 30px;
  background-color: azure;
  margin: 0 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right__arrow {
  padding: 5px;
  font-size: 30px;
  background-color: azure;
  margin: 0 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text1 {
  position: absolute;
  transform: translateX(650px);
  transition: all 1s ease-out;
  width: 30%;
  white-space: nowrap;
  margin: 0 auto;
}
.text2 {
  width: 100%;
  
  white-space: nowrap;
  position: absolute;
  transform: translateX(4000px);
  transition: all 1s ease-out;
}
